@using CinemaProject.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "All Movies";
}

 <h2>@ViewBag.Title.</h2>
<div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
        <table class="table table-hover table-bg-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            @{
                foreach (var movie in Model)
                {

                    <tbody>
                        <tr>
                            <th scope="row">@movie.Id</th>
                            <td>@movie.Name</td>
                            <td>@movie.Genre</td>
                            <td>@movie.Year.ToString()</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>

