@using CinemaProject.Models
@model IEnumerable<Actor>

@{
    ViewBag.Title = "All Actors";
}

 <h2>@ViewBag.Title.</h2>
<div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
        <table class="table table-hover table-bg-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Movie</th>
                </tr>
            </thead>
            @{
                foreach (var actor in Model)
                {

                    <tbody>
                        <tr>
                            <th scope="row">@actor.Id</th>
                            <td>@actor.FirstName</td>
                            <td>@actor.LastName</td>
                            <td>@actor.Age.ToString()</td>
                            <td>@actor.Movie.Name</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>



